*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 20px 40px;
    background: gainsboro;
    text-align: center;
}

h1, p, input{
    margin-bottom: 10px;
}

input{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

input:focus{
    outline: none;
}

button{
    padding: 10px 20px;
    background: goldenrod;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}